<main id id="content" class="container px-0">
    <app-searchbar></app-searchbar>
    <div class="pop-in-loc d-flex flex-column justify-content-center p-0 mt-5 mx-auto overflow-hidden">
        <h6 class="mb-3 font-weight-bold text-nowrap">Popular in your local</h6>
        <div id="pop-in-loc" class="row justify-content-start flex-nowrap m-0 p-2 border rounded-lg">
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>

        </div>

    </div>
    <div class="pop-in-town d-flex flex-column justify-content-center p-0 mt-5 mx-auto overflow-hidden">
        <h6 class="mb-3 font-weight-bold text-nowrap">Popular in your town</h6>
        <div id="pop-in-town" class="row justify-content-start flex-nowrap m-0 p-2 border rounded-lg">
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
            <div class="card mr-3" style="min-width: 150px;">
                <img src="popular-local/cake1.jpeg" class="card-img-top img-thumbnail rounded"
                    style="height: 145px; width:auto" alt="" />
                <div class="card-body">
                    <h6 class="card-text text-center">Birthday Cake</h6>
                    <p class="card-text text-center">by</p>
                    <h6 class="card-text text-center font-weight-bold">Maria</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="story d-flex justify-content-start px-4 pt-5 pb-4 mx-auto border rounded-lg overflow-x-hidden">
        <h5 class="greeting font-italic font-weight-bold px-3">Hi, I am Maria</h5>
        <img src="sellers/seller1.webp" alt="maria" class="image-fluid col-md-3 p-1 border rounded"
            style="min-height: 160px; min-width:210px; max-height: 160px; max-width:210px" />
        <blockquote class=" ml-4 my-1 text-break font-italic">Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
            Libero quidem,
            id
            deleniti
            dignissimos nemo maxime! Repudiandae eligendi accusamus neque harum mollitia incidunt voluptas
            minima.!<span><a href="#"> Check my
                    page!</a></span></blockquote>
    </div>

    <div class="ad text-right px-4 pt-4 pb-4 mx-auto border rounded-lg overflow-x-hidden mt-3 mb-5">
        <h2 class="text-warning font-weight-bold">make money ON your TALENT</h2>
        <a href="#" class="ml-5 font-italic">
            <span class="text-right mr-0">see how</span>
        </a>
    </div>
</main>